.navbar{
  border style: inset;
  border-style: solid;
  border-radius: 10px;
}

.form-inline{
  margin-top: 5px;

}
.col-md-4{
  height: 200px;
}
.col-md-8{
}
.card {
  margin-top: 10px;
  }

.card-img-left{
  margin-top: 5px;
  margin-left: 22px;
  width: 170px;
}
.card-body{
  float: left;
}
.row{
  margin-top: 7px;
}

.fa-search{
  position: relative;
  left: 24px;
}

#search-pl{
  padding-left: 28px;
}

.fa-facebook,.fa-tumblr,.fa-google-plus-g{
  font-size: 30px;
  margin-left: 7px;

}
.btn-primary{
  float: right;
  margin-right: 5px;
}

.btn-primary b{
  color: black;
  font-size: 15px;

}
#fpwd{
  float: right;
  margin-right: 10px;
}
.dropdown{
  float: right;
}
.fa-times-circle{
  position: relative;
  right: 34px;  
}
